1B7/*.txt
1B8/*.txt
1C4/*.txt
1C5/*.txt
1D6/*.txt
1B7/*.png
1B8/*.png
1C4/*.png
1C5/*.png
1D6/*.png
**.pyc
**.bin
**.xml
1A/
1B7/old_versions/
1B8/old_version/
1C4/old_versions/
1C5/old_version/
1D6/old_versions/
MCAst/

